<!-- 
		posting a message 



-->
<script src="javascripts/main.js"></script>
<form method="POST" action="">
		<input type="text" id="message" placeholder="message" value="">	
		<input type="text" id="from" placeholder="from" value="">	
		<input type="submit">	
</form>
<div id="messages"></div>
