
{{#each cats as |cat|}}
<div>{{cat.name}} - {{cat.lives}}</div>
{{/each}}

<form method="POST" action="">
	Name <input type="text" name="name" value="">	
	Lives <input type="number" name="lives" value="">	
	<input type="submit">	
</form>
