<form method="GET" action="/get-form-demo-action">
		<!-- any number of form elements...  most of them start with input -->
		<!-- name attribute will be the name that appears in 
		  req.query -->
		Foo: <input type="text" name="foo" value="">	
		<input type="submit">	
</form>
