<h1>Cat Names</h1>
<ul>
{{#each whatever as |name|}}

<!--<li>{{this}}</li>-->
<li>{{name}}</li>
{{/each}}
</ul>

<form method="POST" action="">
	Cat Name: <input type="text" name="catName" value="">	
	<input type="submit" name="" value="">	
</form>











